#graffiti-artist-ui {
  position: absolute;
  width: 25%;
  min-width: 250px;
  height: 100%;
  background-color: rgba(#333, 0.8);
  right: 0;
  top: 0;
  z-index: 10;
  pointer-events: auto;
  transition-duration: 0.4s;
  transition-delay: 0.4s;
  transform: translateX(100%);
  border-left: 1px dashed #ccc;
  box-sizing: border-box;

  .show-ui & {
    transform: translateX(0);
  }

  .panel {
    padding: 20px;

    h1 {
      margin-bottom: 60px;
    }

    h2 {
      margin-top: 10px;
      margin-bottom: 0;
    }

    p {
      margin-top: 5px;
      margin-bottom: 10px;
      line-height: 1.5em;
    }

    .modes-group,
    .options-item {
      padding-bottom: 10px;

      * {
        user-select: none;
      }
    }

    .brush-hardness-wrapper,
    .brush-color-wrapper,
    .brush-size-wrapper {
      .brush {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 10px 0;
        display: inline-block;
        vertical-align: middle;

        .center-in-circle {
          display: block;
          line-height: 50px;
          text-align: center;
        }
      }

      .input-wrapper {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        width: 150px;
      }
    }

    .brush-color-wrapper {
      .brush {
        border: 2px solid white;
        background-color: white;
      }
    }

    .brush-size-wrapper {
      .brush {
        border: 2px dashed white;
      }
    }

    .brush-hardness-wrapper {
      .brush {
        border: 2px solid transparent;
        background: radial-gradient(
          ellipse at center,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
  }
}
