#loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('ring.gif');
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition-duration: 1s;
  background-color: #333;

  .show-loader & {
    opacity: 1;
  }
}
