.btn {
  user-select: none;
  background-color: #999;
  color: #333;
  padding: 8px 24px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.2s;
  margin-right: 10px;
  margin-bottom: 20px;

  &:hover {
    background-color: #666;
    color: white;
  }
}

#ui {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
  box-sizing: border-box;
  opacity: 0;
  transition-duration: .4s;
  transition-property: opacity;

  .show-ui & {
    opacity: 1;

    #stats,
    .info,
    .dg.main {
      pointer-events: auto;
    }
  }

  #stats {
    padding: 20px;
  }

  .dg.main {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }

  .info {
    user-select: none;
    position: absolute;
    bottom: 0;
    left: 0;
    // max-width: 32%;
    padding: 20px;
    color: #fff;
    // line-height: 1.5;
    box-sizing: border-box;

    .mobile & {
      width: 100%;
      max-width: none;
      height: 100%;
      overflow: scroll;
      padding-top: 80px;
      background-color: rgba(0, 0, 0, 0.5);
    }

    a {
      color: #333;
      text-decoration: underline;
    }

    h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
    }

    p {
      padding: 0;
      margin: 0;
    }

    .credits {
      display: block;
      font-size: 10px;
      padding: 5px 0;
      // text-transform: uppercase;
      text-decoration: none;

      a {
        text-decoration: none;
      }
    }
  }
}

#ui-btn {
  user-select: none;
  position: absolute;
  z-index: 50;
  bottom: 20px;
  right: 20px;
  margin: 0;
  // padding: 20px;
  text-transform: uppercase;
  cursor: pointer;
  // font-size: 10px;
  text-align: center;
  // width: 150px;
  box-sizing: border-box;
  // transition-property: opacity;
  // transition-duration: .4s;
  opacity: 0;

  background-color: #FFF;
  color: #333;

  .show-ui-btn & {
    opacity: 1;
  }

  .show-ui & {
    span.show {
      display: none;
    }
    span.hide {
      display: block;
    }
  }

  span {
    white-space: nowrap;
    // padding: 4px 8px;
    font-weight: bold;
    &.show {
      display: block;
      // background-color: black;
      // color: white;
    }
    &.hide {
      display: none;
      // background-color: white;
      // color: black;
    }
  }
}

// #toggle-view {
//   padding: 4px;
//   width: 80px;
//   text-align: center;
//   position: absolute;
//   cursor: pointer;
//   background-color: $bgColor;
//   z-index: 100;
// }
