html,
body {
  width: 100%;
  height: 100%;
}

$bgColor: #333;
// $bgColor: #fff;

body {
  position: relative;
  overflow: hidden;
  background-color: $bgColor;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  padding: 0;
  margin: 0;
  font-size: 12px;

  &.mobile {
    .hide-mobile {
      display: none;
    }
  }

  &.no-mobile {
    .hide-notmobile {
      display: none;
    }
  }
}

ul {
  font-family: Courier New, Courier, monospace;
}

@import 'vendors/nouislider.scss';
@import 'vendors/spectrum.scss';
@import 'ui.scss';
@import 'radio.scss';
@import 'loader.scss';
@import 'graffiti-artist-ui.scss';
